{# templates/contact/form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-dark text-white">
                        <h1 class="mb-0 text-center">Contactez-nous</h1>
                    </div>
                    <div class="card-body">
                        {% if app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ app.flashes('success')[0] }}
                            </div>
                        {% endif %}

                        <form method="post" action="{{ path('app_contact_form') }}" class="needs-validation" novalidate>
                            {{ form_start(contactForm) }}
                            <div class="form-group">
                                {{ form_label(contactForm.nom, 'Nom', {'label_attr': {'class': 'form-label text-dark'}}) }}
                                {{ form_widget(contactForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom', 'required': 'required'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(contactForm.nom) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(contactForm.email, 'Email', {'label_attr': {'class': 'form-label text-dark'}}) }}
                                {{ form_widget(contactForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email', 'required': 'required'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(contactForm.email) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(contactForm.sujet, 'Sujet', {'label_attr': {'class': 'form-label text-dark'}}) }}
                                {{ form_widget(contactForm.sujet, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le sujet de votre message', 'required': 'required'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(contactForm.sujet) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(contactForm.message, 'Message', {'label_attr': {'class': 'form-label text-dark'}}) }}
                                {{ form_widget(contactForm.message, {'attr': {'class': 'form-control', 'rows': 5, 'placeholder': 'Entrez votre message', 'required': 'required'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(contactForm.message) }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger btn-block">Envoyer</button>
                            {{ form_end(contactForm) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
